<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">>
<head>
    <meta charset="UTF-8">
    <title>Vets list</title>
</head>
<body>
<h1 th:text="#{vets}">Page</h1>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 200px;" th:text="#{name}"></th>
            <th style="width: 120px" th:text="#{lastName}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet: ${vets}">
            <td th:text="${vet?.id}">1</td>
            <td th:text="${vet?.firstName}">FN</td>
            <td th:text="${vet?.lastName}">LN</td>
        </tr>
        </tbody>
    </table>

</body>
</html>